#CONFIG
**/src/main/resources/**/application-local.yml
**/src/main/resources/**/application-test.yml

#COMPILE AND PACKAGE FILES
target
build
out
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

#LOGGING
logs
*.log

#INTELLIJ
**/.idea
*.iml

#ECLIPSE
.settings
.project
.classpath

#GRADLE
.gradle/
#gradle
#build.gradle
#gradlew
#gradlew.bat
#settings.gradle


