#CONFIG
*/application.yml
*.yml


#COMPILE
target
build
out

#LOGGING
logs

#INTELLIJ
.idea
*.iml

#ECLIPSE
.settings
.project
.classpath

#GRADLE
.gradle/
#gradle
#build.gradle
#gradlew
#gradlew.bat
#settings.gradle


