#CONFIG
*application.yml
*application-local.yml
*application-test.yml

#COMPILE
target
build
out

#LOGGING
logs

#INTELLIJ
.idea
*/.idea
.idea/*
*.iml

#ECLIPSE
.settings
.project
.classpath

#GRADLE
.gradle/
#gradle
#build.gradle
#gradlew
#gradlew.bat
#settings.gradle


